
html {
  font-size: 62.5%; /* 10px browser default */
}
/* ## Headings###*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}


body p {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;

}

body{
  text-align: center;
  margin: 0;
  font-size: 1.6rem;
}

    /* content is the entire section of the website
    content is a grid and the sections of the website are grid items */
    #content{
      display: grid;
      grid-template-columns: 1fr;
    }

/****Carolyn's Styles*****/
    /* testimonial is a grid item of content
    it is also a nested grid (contains other grid items) */
    .testimonials{
      display: grid;
      background-color: #F05F40;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 100px auto;
      padding-left: 75px;
      padding-right: 75px;
      padding-bottom: 75px;
      padding-top: 50px;
      grid-column-gap: 10px;
    }

    /* this h2 is a grid item of testimonials */
    .testimonials h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.875em;
      color: white;
      font-weight: normal;
      grid-column: 1 / 5;
      margin: 0px;
      padding-bottom: 15px;
      align-self: end;
    }

    /* this is the line under the testimonials heading
    i don't think it's exactly right because it moves when
    you resize the page  */
    .testimonials h2:after {
      padding-top: 20px;
      border-bottom: 3px solid white;
      display: block;
      content: '';
      width: 50px;
      margin-left: 47%;
    }

    /* this p is a grid item of testimonials */
    .testimonials p {
      font-family: 'Merriweather', serif;
      padding-top: 30px;
      color: rgba(255, 255, 255, .7);
      margin: 0px;
      font-size: 16px;
      line-height: 1.5;
    }

    /* linkedin is a grid item of content
    it is also a nested grid (contains other grid items) */
    .linkedin {
      padding-top: 50px;
      background-color: #2b2725;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      justify-items: center;

    }

    /* this h2 is a grid item of linkedin */
    .linkedin h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.875em;
      color: white;
      font-weight: normal;
      margin: 0px;
      padding-bottom: 30px;
    }

    /* this icon is a grid item of linkedin */
    .linkedin-icon {
      /* justify-content: center; */
      background-color: white;
      border-radius: 30px;
      width: 90px;
      padding-top: 13px;
      padding-bottom: 13px;
      margin-bottom: 30px;

    }

    a {
      color: black;
    }

    /***Kevin's Styles***/
    /**You Want the Best**/
    #the-best{
      display: grid;
      background-color: #F05F40;
      padding: 5%;
    }

    .the-best.section-sub-heading p{
      color: rgba(255, 255, 255, .7);
      justify-content: center;
      align-items: center;
      margin-left: 18rem;
      margin-right: 18rem;
      }

    .the-best.section-heading  {
      color:#fff;
      }
      .the-best.divider hr{
    background-color:#fff;
    }

     .get-started{
       padding: 1.6rem 1.5rem;
       background-color: #fff;
       border: #fff;
       font-weight: 700;
       text-transform: uppercase;
       border-radius:300px;
       min-width: 11.5%;
       align-self: center;
        margin-top: 1%;
    }

    /**Portfolio Grid**/
  #portfolio-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin:5%;
  }

  .section-heading, .divider, .section-sub-heading  {
    grid-column: 1 / -1;
  }

  .section-heading h2{
    font-size: 3rem;
  }

  .divider hr {
    background-color: #F05F40;
    width: 3px;
    min-width: 50px;
    height:3px;
    border: none;
    /*margin-top: -3%;*/
  }

 .section-sub-heading p{
   /*margin-top:-3%;*/
   color: #777;
 }

 .portfolio-thumbnail{
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
 }

 .portfolio-item{
   display: grid;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   max-width: 100%;
   height:auto;
   opacity: 1;
   transition: .5s ease;
   display: inline-grid;
   position: relative;
 }

 .image {
  display: block;
  width: 100%;
  height: 200px;
}
/*
.image .overlay-color{
 color: #fff;
 opacity: 0;
 display: block;
 background: rgba(240, 95, 64, .9);
 position: absolute;
 bottom: 0;
 text-align: center;
 width: 100%;
 height: 100%;
 transition: all .35s
}*/
/*.overlay{
  position:absolute;
  transition: all .3s ease-in-out;
  opacity:0;
  background-color: #eee;
}*/

.overlay-text{
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.overlay-color{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(240, 95, 64, .9);
}
/*  height:100%;
  width: 0;
  top:0;
  left:0;
  background-color: #008CBA;
}
 position:absolute;
 transition: .5s ease;
}*/

 .portfolio-item:hover .overlay-color {
    opacity:1;
    /*width:100%;*/
}
