html {
 font-size: 62.5%;
   /*10px browser default  */
}
/* ## Headings###*/
h1,
h2,
h3,
h4,
h5,
h6 {

  /*font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;*/
  font-family: 'Open Sans','Helvetica Neue', sans-serif;
  font-size: 1.875rem;
  font-weight: normal;

}


body p {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;

}

body{
  text-align: center;
  margin: 0;
  font-size: 1.6rem;
}

body, html {
    height: 100%;
    width: 100%;
}

    /* content is the entire section of the website
    content is a grid and the sections of the website are grid items */
    #content{
      display: grid;
      grid-template-columns: 1fr;
    }


    nav{
      font-family: 'Open Sans','Helvetica Neue', sans-serif;
      font-weight: bold;
    }

    .nav-bar{
      position: fixed;
      display: grid;
      list-style: none;
      grid-auto-rows: auto;
      grid-gap: 1em;
      align-items: center;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
      border-bottom: 4px solid rgba(255, 255, 255, .3);
      padding-bottom: 1%;
      width: 100%;
      top: 0;
      background-color: transparent;
      margin-top: 0;
      padding-top: .5%;
      }

    /*  .nav-item{
        display:grid;
        justify-items:center;
      }*/
      .nav-bar a{
        color: rgba(255, 255, 255, .7);
        text-decoration: none;
        font-weight: 700;
      }

      .nav-item{
        display: grid;
        justify-self: end;
        justify-items:end;
        padding-top: 1%;
      }

      .logo{
        display:grid;
        font-size: 2.3rem;
        grid-column: 1/2;
        justify-items: left;
      }
      .scrolled{
        background-color:#fff;
        transition: ease 1s;
        color: #222;
      }

      .scrolled .logo a {
        color: #F05F40;
      }

      .scrolled a{
        color: #222;
      }

/****Carolyn's Styles*****/
    /* testimonial is a grid item of content
    it is also a nested grid (contains other grid items) */
    .testimonials{
      display: grid;
      background-color: #F05F40;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 100px auto;
      padding-left: 75px;
      padding-right: 75px;
      padding-bottom: 75px;
      padding-top: 50px;
      grid-column-gap: 10px;
    }

    /* this h2 is a grid item of testimonials */
    .testimonials h2 {
      color: #fff;
      grid-column: 1 / 5;
      margin: 0px;
      padding-bottom: 15px;
      align-self: end;
    }

    /* this is the line under the testimonials heading
    i don't think it's exactly right because it moves when
    you resize the page  */
    .testimonials h2:after {
      padding-top: 20px;
      border-bottom: 3px solid white;
      display: block;
      content: '';
      width: 50px;
      margin-left: 47%;
    }

    /* this p is a grid item of testimonials */
    .testimonials p {
      font-family: 'Merriweather', serif;
      padding-top: 30px;
      color: rgba(255, 255, 255, .7);
      margin: 0px;
      font-size: 16px;
      line-height: 1.5;
    }

    /* linkedin is a grid item of content
    it is also a nested grid (contains other grid items) */
    .linkedin {
      padding-top: 50px;
      background-color: #2b2725;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      justify-items: center;

    }

    /* this h2 is a grid item of linkedin */
    .linkedin h2 {
      color: #fff;
      margin: 0px;
      padding-bottom: 1.5%;;
    }

    /* this icon is a grid item of linkedin */
    .linkedin-icon {
      /* justify-content: center; */
      background-color: #fff;
      border-radius: 30px;
      width: 90px;
      padding-top: 13px;
      padding-bottom: 13px;
      margin-bottom: 3.5%;

    }

    /* contact is a grid item of content
    it is also a nested grid (contains other grid items) */
    .contact{
      display: grid;
      padding-top: 50px;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 100px;
    }

    .contact h2{
      grid-column: 1 / 4;
    }

    /* this is the line under the contact ("let's get in touch") heading
    i don't think it's exactly right because it moves when
    you resize the page  */
    .contact h2:after {
      padding-top: 20px;
      border-bottom: 3px solid #F05F40;
      display: block;
      content: '';
      width: 50px;
      margin-left: 47%;
    }

    .contact-descr{
      grid-column: 1 / 4;
      margin-top: -.5%;
      margin-bottom: 2%;
    }

    .contact-icon:link, .contact-icon:visited{
      color: #000;
    }

    /***Kevin's Styles***/
    /**Hero**/


    .hero {
      background-image:
      radial-gradient(circle, rgba(34,193,195,.7), rgba(71,61,101,0.8)),
      /*linear-gradient(to right, rgba(53, 92, 125, .7), rgba(108, 91, 123, .7), rgba(192, 108, 132, .8)),*/
      /*radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,.4) 70%),*/
      /*linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),*/
      url("https://chingu-voyage4.github.io/Toucans-Team-10/computer.jpg");

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /*background-position: center;*/
      color:#fff;
      height:100%;
      display: grid;
    }


    .hero h1{
      font-weight: 700;
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .header-text{
      justify-self: center;
    }

    .find-out-more{
      padding: 1.6rem 1.5rem;
      background-color: #F05F40;
      border: #F05F40;
      font-weight: 700;
      text-transform: uppercase;
      border-radius:300px;
      min-width: 11.5%;
      align-self: center;
       margin-top: 1%;
       justify-self: center;
       padding: 2.0rem;
       color:#fff;
    }

    /**You Want the Best**/
    #the-best{
      display: grid;
      background-color: #F05F40;
      padding: 5%;
    }

    .the-best.section-sub-heading p{
      color: rgba(255, 255, 255, .7);
      justify-content: center;
      align-items: center;
      margin-left: 18rem;
      margin-right: 18rem;
      }

    .the-best.section-heading  {
      color:#fff;
      }
      .the-best.divider hr{
    background-color:#fff;
    }

     .get-started{
       padding: 1.6rem 1.5rem;
       background-color: #fff;
       border: #fff;
       font-weight: 700;
       text-transform: uppercase;
       border-radius:300px;
       min-width: 11.5%;
       align-self: center;
        margin-top: 1%;
        justify-self: center;
        padding: 2.0rem;
    }

#services{
  background-color: #222;
  color: #fff;
  padding: 5% 0;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: space-between;
}
.box{
  padding:5rem;
}

.container p{
    color: rgba(255, 255, 255, .7);
}

.fa-gem, .fa-paper-plane, .fa-newspaper,
.fa-heart
 {
  color: #F05F40;
}



    /**Portfolio Grid**/
  #portfolio-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin:5%;
  }

  .section-heading, .divider, .section-sub-heading  {
    grid-column: 1 / -1;
  }

  .section-heading h2{
    font-size: 3rem;
  }

  .divider hr {
    background-color: #F05F40;
    width: 3px;
    min-width: 50px;
    height:3px;
    border: none;
    /*margin-top: -3%;*/
  }

 .section-sub-heading p{
   /*margin-top:-3%;*/
   color: #777;
 }

 .portfolio-thumbnail{
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
 }

 .image{
   display: grid;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   max-width: 100%;
   height:200px;
   opacity: 1;
   transition: .5s ease;

 }

  .overlay-color{
   position:absolute;
   opacity: 0;
   transition: .5s ease;
   background-color: #008CBA;
 }

  .image:hover .overlay-color{
   opacity: 1;
 }

    .contact-icon-text:link, .contact-icon-text:visited{
      color: #F05F40;
      text-decoration: none;
    }

    .contact-icon-text:hover{
      text-decoration: underline;
    }
